@use 'variables';
@use 'reset';

.landing__container {
    // max-width: 37.5rem;
    margin: 0 auto;
    font-family: variables.$ff-body;
    font-size: variables.$fs-normal-mobile;
    font-weight: variables.$fw-semiBold;
    color: variables.$clr-very-dark-cyan;

    @media (min-width: variables.$desktop) {
        max-width: 144em;
        font-size: variables.$fs-normal-desktop;
    }
}
