@use 'variables';
@use 'reset';

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 14.8rem;
    padding: 0 4rem 0 4.5rem;
    text-align: center;

    @media (min-width: variables.$desktop) {
        flex-direction: row;
        gap: 35rem;
        margin-top: 15.8rem;
        padding: 0 0 0 1rem;
    }
}

.stats__number {
    position: relative;
    font-weight: variables.$fw-bold;

    &--communities {
        font-size: variables.$fs-stats-mobile;

        @media (min-width: variables.$desktop) {
            font-size: variables.$fs-stats-desktop;
        }
    }

    &--messages {
        margin-top: 11.7rem;
        font-size: variables.$fs-stats-mess-mobile;

        @media (min-width: variables.$desktop) {
            margin-top: 0;
            font-size: variables.$fs-stats-desktop;
        }
    }
}

.stats__description {
    margin-top: 0.6rem;
    font-weight: variables.$fw-semiBold;
    color: variables.$clr-very-dark-cyan-a;

    &--communities {
        font-size: variables.$fs-stats-desc-mobile;

        @media (min-width: variables.$desktop) {
            font-size: variables.$fs-stats-desc-desktop;
        }
    }

    &--messages {
        padding-right: 2rem;

        @media (min-width: variables.$desktop) {
            font-size: variables.$fs-stats-desc-desktop;
        }
    }
}

.stats__number::before {
    content: '';
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.stats__number--communities::before {
    width: 3rem;
    height: 3rem;
    top: -2.8rem;
    left: 3rem;
    background-image: url(../../images/icon-communities.svg);

    @media (min-width: variables.$desktop) {
        width: 5rem;
        height: 5rem;
        top: -4.4rem;
        left: 0;
    }
}

.stats__number--messages::before {
    width: 2.4rem;
    height: 2.4rem;
    top: -2.3rem;
    left: 3.5rem;
    background-image: url(../../images/icon-messages.svg);

    @media (min-width: variables.$desktop) {
        width: 4rem;
        height: 4rem;
        top: -3.7rem;
        left: 0;
    }
}

